@model JCAirbnb.Areas.Employee.Models.ManageReservationsModel
@*@model JCAirbnb.Models.Reservation*@

@{
    ViewData["Title"] = "Reservation";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-4">
                <h4>Property</h4>
            </div>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(m => m.Reservation.Property)
            </dt>
            <dd class="col-sm-7" id="checkInDate">
                @Html.DisplayFor(m => m.Reservation.Property.Title)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(m => m.Reservation.Property.Price)
            </dt>
            <dd class="col-sm-7" id="checkInDate">
                @Html.DisplayFor(m => m.Reservation.Property.Price)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(m => m.Reservation.Property.PropertyType)
            </dt>
            <dd class="col-sm-7" id="checkInDate">
                @Html.DisplayFor(m => m.Reservation.Property.PropertyType.Title)
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-4">
                <h4>Reservation</h4>
            </div>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(m => m.Reservation.CheckIn)
            </dt>
            <dd class="col-sm-7">
                @Model.Reservation.CheckIn.ToLongDateString()
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(m => m.Reservation.CheckOut)
            </dt>
            <dd class="col-sm-7">
                @Model.Reservation.CheckOut.ToLongDateString()
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(m => m.Reservation.ReservationState)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(m => m.Reservation.ReservationState.Title)
            </dd>
        </dl>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-4">
                <h4>Tenant</h4>
            </div>
        </div>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(m => m.Reservation.User.UserName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(m => m.Reservation.User.UserName)
            </dd>
        </dl><dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(m => m.Reservation.User.Email)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(m => m.Reservation.User.Email)
            </dd>
        </dl>
    </div>
</div>
<hr />
<form asp-action="CheckedOut" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Reservation.Id" />
    @if (Model.Reservation.DeliveryCheckList != null)
    {
        <h4>Delivery List Items</h4>
        <div class="row">
            <div class="col-12">
                @Html.DisplayFor(m => Model.Reservation.DeliveryCheckList.Title)
            </div>
            @foreach (var item in Model.CheckListItems)
            {
                <div class="col-12">
                    @Html.DisplayFor(m => item.Description)
                    <input type="checkbox" value="@item.Id" name="values" class="btn btn-primary" />
                </div>
            }
        </div>
    }
    <hr />
    <h4>Report possible damages / situations to report</h4>
    <div class="form-group d-inline-block">
        <input name="files" type="file" multiple accept="image/*" />
    </div>
    <div>
        <div class="form-group">
            <label for="Comment">Report some observation</label>
            <textarea id="Comment" asp-for="Reservation.Report.Observations" class="form-control"></textarea>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group col-2">
            <input type="submit" value="Accept reservation" class="btn btn-primary" />
        </div>
        <div class="form-group col-2">
            <a asp-action="Delete" asp-route-id="@Model.Reservation.Id" class="btn btn-danger">Cancel reservation</a>
        </div>
    </div>
</form>
<br />
<div>
    <a asp-action="">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}